{
	"presets": [
		[
			"@babel/preset-react"
		]
	],
	"plugins": [
		"@babel/plugin-transform-flow-strip-types"
	],
	"env": {
		"development": {
			"plugins": [
				"react-hot-loader/babel"
			]
		},
		"commonjs": {
			"presets": [
				"@babel/preset-react"
			]
		},
		"test": {
			"presets": [
				"@babel/preset-react"
			]
		}
	}
}